.App {
  text-align: center;
}

.App-header {
  background-color: rgb(25, 47, 80);
  color: rgb(226, 219, 219);
  padding: 0.1rem 0 0.1rem 0;
  margin-bottom: 1em;
  font-family: 'Bebas Neue', cursive;
  text-shadow: 0px 4px 8px black;
  font-size: 2rem;
  box-shadow: 0 4px 2px rgb(54, 54, 54);
}

.App-title {
  font-size: 1.5em;
}
body {
  background-color: rgb(119, 119, 119);
  padding-bottom: 2rem;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 2rem 0 2rem;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: all 0.2s ease-out;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

.portrait,
.landscape {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  contain: content;
  width: 400px;
  height: 400px;
  z-index: 1;
  margin: 1rem 0.5rem 0 0.5rem;
  box-shadow: 4px 4px 12px rgb(59, 59, 59);
  transition: all 0.2s ease-out;
  background-color: rgb(25, 47, 80);
  justify-content: center;
}

.landscape.like-container {
  bottom: 50%;
}

img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  z-index: 2;
}

.like-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  bottom: 0%;
  background-color: rgba(34, 34, 34, 0.3);
  margin-left: 0.3rem;
}

.like-container.landscape-like {
  background-color: rgba(34, 34, 34, 0);
}

.like-btn {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.card-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

svg {
  fill: white;
  transition: all 0.2s ease-out;
}

svg:hover {
  fill: rgb(241, 63, 63);
}

p {
  color: rgb(226, 219, 219);
}
.card-desc > p {
  margin: 0 1rem 0 1rem;
}
