* {
  outline: 0;
}
body {
  background-color: rgb(204, 204, 204);
  padding-bottom: 2rem;
}

.tool-bar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(25, 47, 80);
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 2rem 0 2rem;
}

.gallery-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: all 0.2s ease-out;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

.portrait,
.landscape {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  contain: content;
  width: 400px;
  height: 400px;
  z-index: 1;
  transition: all 0.2s ease-out;
  justify-content: center;
  margin: 0.25rem;
}

.landscape {
  height: auto;
}

.gallery-img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  z-index: 2;
}

.like-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  bottom: 0%;
  background-color: rgba(34, 34, 34, 0.4);
  padding-left: 0.3rem;
}

.like-container > p {
  color: white;
}

.like-container.landscape-like {
  background-color: rgba(34, 34, 34, 0.4);
  bottom: 2%;
}

.like-btn {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.card-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(112, 112, 112);
  height: 100%;
  width: 100%;
}

.heart {
  fill: white;
  transition: all 0.2s ease-out;
}

.heart:hover {
  fill: rgb(241, 63, 63);
}

p {
  color: rgb(202, 202, 202);
}
.card-desc > p {
  margin: 0 1rem 0 1rem;
}

.modal-img-container {
  height: 80%;
  width: auto;
  display: inline-block;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10%;
  contain: content;
}

.modal-img {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}